h2 {font-family: copperplate; letter-spacing:0.1em; word-spacing:0.4em;									
margin: 35px; text-indent: -1em;}																		
p {font-style: oblique;}																		
.header {text-align: center; padding-top: 20px;}
.wrap {background-color: #9bcfff; padding: 4px; margin-bottom: 0;}
.footer {background-color: #ff7b00; padding: 4px; margin-bottom: 0;}
																	

body {margin: 0; padding: 0;}

